.container-nav, .container-main, .container-footer{
    margin: 4% 18%;
}

.title-nav, .title-head{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.title-nav > span{
    text-transform: uppercase;
}

hr{
    width: 25%;
    margin: 0 auto;
    height: 7px;
    background-color: black;
    border-radius: 100px;
}

.img-nav{
    width: 60%;
    margin: 4% 20%;
}

.list-main{
    font-weight: bold;
    margin-top: 4%;
    text-align: justify;
}

.list-main p{
    text-indent: 1.5em;
    margin-bottom: 2%;
    font-size: 16px;
}

.more-link p{
    color: black;
    text-align: center;
    font-weight: bold;
}